.dv{ background-color:#EFEFEF;
    margin: 0px 300px 300px 300px;}
    .abc{margin-left: 60px;}
input[type=email]{width:50%;
      margin-left: 60px;
    }
body{background-color:#813772}
.ab{text-align: center;
    text-shadow: 5px;
  padding: 2px;
margin: auto;}